body {
    background-color: grey !important;
	background-image: url("../images/leather_1.png");
}
img {
	height: 50%;
    width: 50%;
}
a:hover {
    color: #fff;
	font-style: italic;
}
p {
    font-family: 'Barlow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    margin: 30px;
}
footer {
    background-color: #90785E;
    border-top: 6px solid #D7AE98;
    color: #fff;
    font-family: 'Playfair Display SC', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    height: 80px;
    width: 100%; 
    position: fixed;
    bottom: 0;
    
}
ul {
	margin-left: 40%;
	margin-right: 40%;
}
h2 {
	background-color: #fff;
	color: #90785E;
	font-family: 'Playfair Display SC', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
hr {
	background-color: #D7AE98;
	border-style: none;
	height: 3px;
	width: 95%;
}

h1  {
    color: red;
}
#contactMsg {
    width: 60%;
}
#resumeLink {
    color: #D7AE98;
    text-decoration: underline;
}
.container {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 50px auto;
}
.bg {
    width: 80%;
    margin: 40px auto;
    margin-top: -30px;
}
.btn {
	background-color: #A9876F;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	height: 5%;
	width: 10%;
}
.col-lg-6 {
    padding: 40px;
    
}
.shadow {
	margin-bottom: 100px;
	margin-top: 20px;
	padding-bottom: 40px;
} 
.socialMedia {
	color: #A9876F;
	text-decoration: underline;
}
.card {
	height: 100%;
	width: 100%;
}
.card-body {
	background-color: #A9876F;
	color: #A9876F;
    text-align: center;
}
.card-header {
	background-color: #fff;
	border: 2px solid #A9876F;
	border-bottom: none;
}
.nav-link {
	color: #fff;
	display: inline-block;
	font-family: 'Playfair Display SC', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 100%;
	padding: 20px;
}
.nav-link-selected {
    color: #fff;
	font-family: 'Playfair Display SC', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
    font-size: 17px;
    font-style: oblique;
    color: #D7AE98;
}
.projectLinks {
	background-color: #A9876F;
	color: #fff;
	font-family: 'Barlow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	height: 35px;
	padding: 6px;
	text-decoration: underline;
}
.copyright {
    font-size: 12px;
    margin-top: 0;
}
.name {
	font-family: 'Playfair Display SC', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
	text-align: center;
}
